html {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom left, rgb(56, 157, 240), rgba(86, 39, 196, 0.877));
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: 600;
  padding-top: 5em;
  min-height: 100%;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  padding: 0 20em;
}
